
<h1 class="maintitle">Games</h1>
<h5 class="paragraph">Aqui encontraras toda clase de juegos y si no lo encuentras lo agrega asi que, que espera ¡Registrate!</h5>

<%= link_to "Create new game", new_game_path, class: "newgame" %>

<% @games.each do |game| %>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h1><%= game.title %></h1>
        <p><%= game.description %></p>
        <%= link_to "See that game", game %>
      </div>
  </div>
  </div>
<% end %>

<%= form_with url:'search', method: :get, class:'search-form' do |form| %>
  <%= form.text_field :title, placeholder:"Busca un juego" %>
  <%= form.submit "->", class:'buttonForm' %>
<%end%>
