<%= form_with model:@game, method: :patch do |form| %>
  <div>
    <%= form.label "Title" %>
    <%= form.text_field :title, placeholder:'Title' %>
  </div>

  <div>
    <%= form.label "Description" %>
    <%= form.text_area :description, placeholder:'Description' %>
  </div>

  <div>
    <%= form.label "Image" %>
    <%= form.text_field :img, placeholder:'Img url' %>
  </div>

  <div>
    <%= form.label "Age" %>
    <%= form.number_field :age, placeholder:'Age' %>
  </div>

  <div>
    <%= form.label "linkOfficial" %>
    <%= form.text_field :linkOfficial, placeholder:'linkOfficial' %>
  </div>

  <div>
    <%= form.label "linkNoOfficial" %>
    <%= form.text_field :linkNoOfficial, placeholder:'linkNoOfficial' %>
  </div>

  <%= form.submit %>

<% end %>
