<!DOCTYPE html>
<html>
  <head>
    <title>Pivi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <body>
    <div id="container">
      <nav>
        <div id="logo">
          Pivi
        </div>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Info</a></li>
          <li class="dropdown" onmouseover="hover(this);" onmouseout="out(this);"><a href="#">Categorias &nbsp;<i class="fa fa-caret-down"></i></a>
            <div class="dd">
              <div id="up_arrow"></div>
            <ul>
              <li><a href="#">Online</a></li>
              <li><a href="#">Mundo Abierto</a></li>
              <li><a href="#">Simulacion</a></li>
              <li><a href="#">Rol</a></li>
            </ul>
            </div>
          </li>
          <li><a href="#">IDK</a></li>
        </ul>
      </nav>
    </div>
  </body>
    <%= yield %>
  </body>
</html>
